<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>


<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<form action="/add-post" method="POST" onsubmit="return handleSubmit()">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title">

  <label for="body"><b>Content</b></label>
  <!-- <textarea name="body" cols="50" rows="10"></textarea> -->

  <label for="body"><b>Content</b></label>


  <input type="hidden" name="body" id="hiddenBody">

  <div id="editor" style="height: 100vh;"></div>

  <input type="submit" value="Add" class="btn">


</form>

<script>
  // Initialize Quill editor
  var quill = new Quill('#editor', {
    theme: 'snow',
    modules: {
      toolbar: [
        ['bold', 'italic', 'underline'],
        [{ 'header': [1, 2, 3, false] }],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'indent': '-1' }, { 'indent': '+1' }],['link','image'],
        ['clean']
      ]
    }
  });

  // On form submit, copy editor content into hidden input
  function handleSubmit() {
    const html = quill.root.innerHTML;
    document.getElementById('hiddenBody').value = html;
    return true; // allow form to submit
  }
</script>
