<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact | 20's Diaries</title>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
<section class="about-container">
  <div class="about-card">
    <h2>Writer Who Analyzes</h2>
    <p class="about-intro">
      My major and my writing skills form a unique blend that equips me to simplify complex technical concepts into intuitive narratives. It's an exciting challenge that combines logic and creativity, continually redefining our digital interactions.
    </p>
    <img src="/img/WhatsApp Image 2025-06-10 at 19.53.44_53484d25.jpg" alt="Palak" class="about-img">
    <p>
      My journey into the world of Content Writing began in high school, when I took my first internship. I was fascinated by the creativity I could put into writing, but I also craved a technical outlet. This led me to take Data Science as my engineering major.
    </p>

    <p>
      I quickly realized that I didn't have to choose between my two passions. Instead, I could combine them. That's why here I am, continuously exploring and challenging my skills.
    </p>

    <p>
      I am passionate about leveraging data to tell compelling stories, and with my professional experience as a content writer, I have honed my ability to craft engaging narratives and communicate complex ideas effectively.
    </p>

    <div class="social-link">
      <a href="https://instagram.com/june.palak" target="_blank">@june.palak 💖</a>
    </div>
  </div>
</section>

