<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact | 20's Diaries</title>
  <link rel="stylesheet" href="/css/contact.css">
</head>
<body>

  <div class="contact-container">
    <h1>Get in Touch</h1>
    <p>If you have questions, suggestions, or just want to connect — feel free to reach out!</p>

    <div class="contact-info">
      <div class="contact-item">
        <strong>Email:</strong>
        <a href="mailto:palakagarwal1002@gmail.com">palakagarwal1002@gmail.com</a>
      </div>
      <div class="contact-item">
        <strong>Tumblr</strong>
        <a href="https://github.com/DR-0932" target="_blank">github</a>
      </div>
      <div class="contact-item">
        <strong>LinkedIn:</strong>
        <a href="https://www.linkedin.com/in/dhruv-rajput-153357200/" target="_blank">linkedin</a>
      </div>
    </div>

    <!-- <form class="contact-form" action="https://formspree.io/f/xwkglvlz" method="POST">
      <input type="text" name="name" placeholder="Your Name" required>
      <input type="email" name="_replyto" placeholder="Your Email" required>
      <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
      <button type="submit">Send Message</button>
    </form> -->
  </div>

</body>
</html>

